@model ECivisObj.Models.ContactDetails

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ContactDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="/PhoneNumbers/Create">Adauga un numar de telefon</a>
            </div>
            <div class="form-group">
                <a href="/Emails/Create">Adauga o adresa de e-mail</a>
            </div>
            <div class="form-group">
                <a href="/Socials/Create">Adauga un cont de retea sociala</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
