@model ECivisObj.Models.ContactDetails

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ContactDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdphoneNumbers" class="control-label"></label>
                <select asp-for="IdphoneNumbers" class="form-control" asp-items="ViewBag.IdphoneNumbers"></select>
                <span asp-validation-for="IdphoneNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idemails" class="control-label"></label>
                <select asp-for="Idemails" class="form-control" asp-items="ViewBag.Idemails"></select>
                <span asp-validation-for="Idemails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsocial" class="control-label"></label>
                <select asp-for="Idsocial" class="form-control" asp-items="ViewBag.Idsocial"></select>
                <span asp-validation-for="Idsocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
