@{
    ViewData["Title"] = "Home Page";
}

<a href="/Addresses">Adrese</a>
<a href="/Admins">Administratori</a>
<a href="/Categories">Categorii</a>
<a href="/ContactDetails">Detalii contact</a>
<a href="/Emails">E-mail</a>
<a href="/NgoUsers">Utilizatori ONG</a>
<a href="/PhoneNumbers">Numere de telefon</a>
<a href="/Photos">Poze</a>
<a href="/Projects">Proiecte</a>
<a href="/RoboticEntities">Entitati</a>
<a href="/Socials">Contact retele sociale</a>