@{
    ViewData["Title"] = "Home Page";
    var categories = ViewData["categories"] as List<ECivisObj.Models.Category>;
}

<a href="/Admin"> Pagina de administrare</a>
<ol>
    @foreach (var item in categories)
    {
        <li>@item.Name  @item.Id</li>

    }
</ol>
du-te in Home/ViewCategory/id