@{
    ViewData["Title"] = "Home Page";
    var categories = ViewData["categories"] as List<ECivisObj.Models.Category>;
}

<a href="/Admin"> Pagina de administrare</a>

<ul>
    @foreach (var item in categories)
    {
        <li>
            <a href="/Home/ViewCategory/@item.Id">@item.Name</a>
        </li>
    }
</ul>