
@{
    ViewData["Title"] = "Index";
}

<h2>Pagina de administrare site</h2>

<ul>
    <li><a href="/Addresses">Adrese</a></li>
    <li><a href="/Admins">Administratori</a></li>
    <li><a href="/Categories">Categorii</a></li>
    <li><a href="/ContactDetails">Detalii contact</a></li>
    <li><a href="/Emails">E-mail</a></li>
    <li><a href="/NgoUsers">Utilizatori ONG</a></li>
    <li><a href="/PhoneNumbers">Numere de telefon</a></li>
    <li><a href="/Photos">Poze</a></li>
    <li><a href="/Projects">Proiecte</a></li>
    <li><a href="/RoboticEntities">Entitati</a></li>
    <li><a href="/Socials">Contact retele sociale</a></li>
    <li><a href="/Benefits">Beneficii</a></li>
</ul>