body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.countEntities{
    margin: 10px auto 10px 20px;
}

.accordion-group .accordion {
    border-radius: 5px;
    border-color: #EEEEEE;
    padding: 0;
    width: 97%;
}

.accordion-default > .accordion-heading {
    color: #808080;
    background-color: #EEE;
    border-color: #EEEEEE;
}

.accordion-title {
    font-size: 14px;
}

    .accordion-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

.short-full {
    float: right;
    color: #0000AA;
}

.accordion-default > .accordion-heading + .accordion-collapse > .accordion-body {
    border: solid 1px #EEEEEE;
    background-color: #FFFFFF;
    padding: 5px 10px 5px;
}